#head
{
float:left;width:100%;background-image:url(/images/head_bg.gif);background-repeat:repeat-x;
}
#nav
{background-image:url(/images/nav_bg.gif);background-repeat:repeat-x;clear:both;width:100%}
        .button
        {
            background-image:url(/images/nav_bg.gif);
            width:177px;
            height:28px;
            background-repeat:repeat-x;
            }
        .selectedbutton
        {
            background-image:url(/images/nav_lirighthover_down.gif);
            width:177px;
            height:28px;
            background-repeat:repeat-x;
            }